@import url('https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

[hidden] {
  display: none !important;
}

#app {
  display: flex;
  min-height: 100dvh;
}

.container {
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem 0;
  gap: 4rem;
}

.left-col {
  display: flex;
  flex-basis: 65%;
  flex-direction: column;
  gap: 4rem;
}

.right-col {
  flex-basis: 35%;
}

.search-bar {
  display: flex;
  align-self: center;
  width: fit-content;
  min-width: clamp(10rem, 80%, 50rem);
  padding: 0.25rem 1.5rem;
  border-radius: 3rem;
  outline: 3px solid black;
  background: #d9d9d9;
  gap: 0.75rem;
}

.search-bar:focus-within {
  outline: 3px solid black;
  box-shadow: inset 0 0 0 2px cornflowerblue;
}

#search {
  flex: 1;
  width: 100%;
  color: #5d5050;
  background: #d9d9d9;
}

.search-icon {
  padding: 0.25rem 0;
  user-select: none;
  background: #d9d9d9;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
}

@media screen and (max-width: 1536px) {
  #products {
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  }
}

.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}

.product-image {
  width: clamp(59%, calc(1vw + 1vh + 0.5vmin), 70%);
  height: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.increase, .decrease {
  background: none;
}

.increase, .decrease:not([disabled]), #clear {
  cursor: pointer;
}

.cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.25rem 1.5rem;
  border-radius: 3rem;
  outline: 3px solid black;
  background: #d9d9d9;
  /*gap: 0.75rem;*/
}

.cart-title {
  padding-top: 1rem;
}

#item-list {
  display: flex;
  overflow: auto;
  align-items: flex-end;
  flex-basis: 75%;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  padding: 2rem 0;
}

.separating-line {
  width: 100%;
  outline: 1px solid black;
}

.total-line {
  display: flex;
  align-items: center;
  flex-basis: 15%;
  width: 100%;
  padding: 0.2rem 0 0 0;
  gap: 1rem;
}

#total-sum {
  margin-left: auto;
}

.pay-button {
  font-size: larger;
  padding: 1rem 2rem;
  border-radius: 5px;
  outline: 1px solid black;
  background: #d9d9d9;
}

.item {
  display: flex;
  align-items: center;
  margin: 3px;
}

.item-name, .item-number, .item-price {
  font-size: larger;
  margin: 3px;
}

.more-button, .minus-button {
  margin: 3px;
  padding: 2px;
  border-radius: 5px;
  outline: 1px solid black;
  background: #d9d9d9;
}
