@import url('https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#app {
  min-height: 100dvh;
}

.container {
  display: flex;
  width: 85%;
  padding-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  gap: 1rem;
}

.left-col {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  gap: 4rem;
}

.right-col {
  flex-basis: 30%;
}

.search-bar {
  display: flex;
  align-self: center;
  width: fit-content;
  min-width: 30rem;
  padding: 0.25rem 1.5rem;
  border-radius: 3rem;
  outline: 3px solid black;
  background: #d9d9d9;
  gap: 0.75rem;
}

.search-bar:focus-within {
  outline: 3px solid black;
  box-shadow: inset 0 0 0 2px cornflowerblue;
}

#search {
  flex: 1;
  color: #5d5050;
  background: #d9d9d9;
}

.search-icon {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background: #d9d9d9;
  user-select: none;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
}

/*.purchases {*/
/*  background: #d9d9d9;*/
/*  border-radius: 3.6875rem;*/
/*  border-style: solid;*/
/*  border-color: #000000;*/
/*  border-width: 0.25rem;*/
/*  padding: 0.75rem 1.5rem 0.75rem 1.5rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  height: 62.625rem;*/
/*  position: absolute;*/
/*  left: 79.3125rem;*/
/*  top: calc(50% - 31.3125rem);*/
/*}*/

/*.content {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 1.5rem;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  align-self: stretch;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*}*/

/*.your-purchases {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 4rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  height: 4.375rem;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.cart-items {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 0.625rem;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*}*/

/*.items {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0.625rem;*/
/*  align-items: flex-end;*/
/*  justify-content: flex-start;*/
/*  align-self: stretch;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*}*/

/*.gloves-x-1-150-00-sek {*/
/*  color: #000000;*/
/*  text-align: right;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-end;*/
/*}*/

/*.sunglasses-x-1-200-00-sek {*/
/*  color: #000000;*/
/*  text-align: right;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-end;*/
/*}*/

/*.hat-x-2-540-00-sek {*/
/*  color: #000000;*/
/*  text-align: right;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-end;*/
/*}*/

/*.buttons {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: flex-start;*/
/*  justify-content: space-between;*/
/*  align-self: stretch;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*}*/

/*.quantity-buttons {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 0.625rem;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*}*/

/*.plus {*/
/*  background: #d9d9d9;*/
/*  border-radius: 0.4375rem;*/
/*  border-style: solid;*/
/*  border-color: #000000;*/
/*  border-width: 0.0625rem;*/
/*  padding: 0.375rem 0 0.375rem 0;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  align-items: center;*/
/*  justify-content: flex-end;*/
/*  flex-shrink: 0;*/
/*  height: 3.125rem;*/
/*  position: relative;*/
/*}*/

/*.div {*/
/*  color: #02be15;*/
/*  text-align: center;*/
/*  font-size: 3rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  width: 3.125rem;*/
/*  height: 3.125rem;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.minus {*/
/*  background: #d9d9d9;*/
/*  border-radius: 0.4375rem;*/
/*  border-style: solid;*/
/*  border-color: #000000;*/
/*  border-width: 0.0625rem;*/
/*  padding: 0.25rem 0 0.25rem 0;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  align-items: center;*/
/*  justify-content: flex-end;*/
/*  flex-shrink: 0;*/
/*  height: 3.125rem;*/
/*  position: relative;*/
/*}*/

/*.div2 {*/
/*  color: #ff0000;*/
/*  text-align: center;*/
/*  font-size: 4rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  width: 3.125rem;*/
/*  height: 3.125rem;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.total {*/
/*  border-style: solid;*/
/*  border-color: #000000;*/
/*  border-width: 0.25rem 0 0 0;*/
/*  padding: 0.75rem 0 0.75rem 0;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  align-self: stretch;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*}*/

/*.total2 {*/
/*  color: #000000;*/
/*  text-align: left;*/
/*  font-size: 3rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*}*/

/*._890-00-sek {*/
/*  color: #000000;*/
/*  text-align: right;*/
/*  font-size: 3rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-end;*/
/*}*/

/*.frame-3 {*/
/*  background: #d9d9d9;*/
/*  border-radius: 0.4375rem;*/
/*  border-style: solid;*/
/*  border-color: #000000;*/
/*  border-width: 0.0625rem;*/
/*  padding: 0 2.0625rem 0 2.0625rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  align-items: flex-start;*/
/*  justify-content: flex-start;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*}*/

/*.pay {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.5rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.items2 {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 6.25rem;*/
/*  align-items: flex-start;*/
/*  justify-content: flex-start;*/
/*  flex-wrap: wrap;*/
/*  max-width: 70.375rem;*/
/*  position: absolute;*/
/*  left: 3.4375rem;*/
/*  top: 12.0625rem;*/
/*}*/

/*.hat {*/
/*  background: #d9d9d9;*/
/*  border-radius: 3.75rem;*/
/*  padding: 0 0.9375rem 0 0.9375rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);*/
/*}*/

/*.hat2 {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.rectangle-2 {*/
/*  background: #ffffff;*/
/*  border-radius: 3.125rem;*/
/*  flex-shrink: 0;*/
/*  width: 17.125rem;*/
/*  height: 17.375rem;*/
/*  position: relative;*/
/*}*/

/*._270-00-sek {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.scarf {*/
/*  background: #d9d9d9;*/
/*  border-radius: 3.75rem;*/
/*  padding: 0 0.9375rem 0 0.9375rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);*/
/*}*/

/*.scarf2 {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*._490-00-sek {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.gloves {*/
/*  background: #d9d9d9;*/
/*  border-radius: 3.75rem;*/
/*  padding: 0 0.9375rem 0 0.9375rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);*/
/*}*/

/*.gloves2 {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*._150-00-sek {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.trousers {*/
/*  background: #d9d9d9;*/
/*  border-radius: 3.75rem;*/
/*  padding: 0 0.9375rem 0 0.9375rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);*/
/*}*/

/*.trousers2 {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*._650-00-sek {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.jacket {*/
/*  background: #d9d9d9;*/
/*  border-radius: 3.75rem;*/
/*  padding: 0 0.9375rem 0 0.9375rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);*/
/*}*/

/*.jacket2 {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*._630-00-sek {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.sunglasses {*/
/*  background: #d9d9d9;*/
/*  border-radius: 3.75rem;*/
/*  padding: 0 0.9375rem 0 0.9375rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 0;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);*/
/*}*/

/*.sunglasses2 {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*._200-00-sek {*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  font-size: 2.25rem;*/
/*  font-weight: 400;*/
/*  position: relative;*/
/*  align-self: stretch;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
